html {
	background-color: #018ded;
	background-image: url(http://unsplash.it/1500/1000?image=881&blur=50);
	background-size: cover;
	font-family: 'helvetica neue';
	text-align: center;
	font-size: 10px;
}

body {
	margin: 0;
	font-size: 2rem;
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
}

.clock {
	width: 30rem;
	height: 30rem;
	border: 30px solid #ccc;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	padding: 3rem;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
		inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
	width: 50%;
	height: 3px;
	background: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: 0%;
	transform: rotate(-90deg);
	/* transition: all 0.001s;  */ /* This is to remove buggy animation. */
	/* TO DO: Seek a more elegant solution to this problem. */
}

.second-hand {
	background-color: red;
	/* transform: rotate(0deg); */
}
.minute-hand {
	/* transform: rotate(30deg); */
	height: 5px;
}
.hour-hand {
	width: 30%;
	height: 9px;
}
